html,body {
  height :100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgba(255, 223, 237, 0.45);
    font-family: Buxton Sketch;
}

#container {
	height: 100%;
	min-height :100%;
}

#headerRow,
#footerRow,
#center {
  height: 100%;
}

#footerRow {
    background-color: blueviolet;
    border-radius:6px 6px 0 0;
}
#header {
    background-color: blueviolet;
    border-radius:0 0 6px 6px;
}

#header,
#footer {
  height: 10%;
}

#footer{
	margin-top: -100px;
}

#main {
  height: 80%;
}

#center {
   margin: 0 25% 0 25%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
	color: hsla(307, 100%, 98%, 0.99);
	text-align: center;
}

img {
    height: 50%;
    weight: 50%;
    margin: 5%;
}

#myTextArea {
    resize: none;
}

#nameSurname {
    width: 40%;
    margin: 0 25% 0 25%;
    text-align: center;
}

.btn-purple {
    background-color:#800080;
    color:#ffffff;
    border-color:#730073;
    float: right;
    width: 20%;
}
.btn-purple:hover, .btn-purple:focus {
    background-color: #660066;
    color: #ffffff;
}
.btn-purple:active {
    background-color: #660066;
    color: #ffffff;
}

.input-group {
    width: 70%;
    margin-top: 2%;
    float: right;
}

.btn-group {
    float: right;
}

#buttonOnOff {
    margin-top: 2%;
}